@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --primary: theme(colors.primary);
  --secondary: theme(colors.secondary);
  --white: theme(colors.white);
  --highlight: theme(colors.highlight);
  --indigo: theme(colors.indigo);
  --fire: theme(colors.fire);
  --fireHover: theme(colors.fireHover);
  --offWhite: theme(colors.offWhite);
}